<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div id="page" class="row" style="opacity: 1;">

            <div class="col-md-3 order-1">
                <p style="text-align: center;"> <a href="https://github.com/j-lindsay/face-guessing-game">Source code for the site.</a> 
                The computer generated images come from the <a href="https://thispersondoesnotexist.com/image">thispersondoesnotexist.com</a> 
                API which uses <a href="https://github.com/NVlabs/stylegan">Nvidia's StyleGAN</a>, and the real images come 
                from <a href="https://github.com/NVlabs/ffhq-dataset">Nvidia's Flickr-Faces-HQ Dataset</a>.</p>
            </div>

            {% if data %}
            <div class="col-md-6 order-6 text-center">
                <h1 id="instruction" style="text-align: center;">Guess The Real Person</h1>
                <p id="demo" style="text-align: center; font-size:28px;">Score: 0 - 0</p>
                {% for d in data %}
                <div style="margin:3em;">
                    <button type="submit" id="button_{{ d.id }}" class="game-buttons"
                    value="{{ d.real }}" style="border: none; width: auto; height: auto;">
                        <img id="image_{{ d.id }}" src="{{ d.img_url }}" style="width: 100%; height: 100%;">
                    </button>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-3 order-12">
                <img src="../static/examples/gan_diagram.svg" >
                <p style="text-align: center;">In our context, the samples are real/generated images. 
                    Diagram taken from <a href="https://developers.google.com/machine-learning/gan/generator">Google Developers</a>.</p>
            </div>    
            
        </div>
    </div>

    <div class="spinner-border text-primary" id="loading" role="status" style="position: fixed; left: 50%; top: 50%; visibility: hidden;" ></div>
    
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
        let correct = 0;
        let incorrect = 0;
        let correctness = "";

        b1 = document.getElementById("button_1");
        b2 = document.getElementById("button_2");
        spinner = document.getElementById("loading");

        b1.onclick = calculateButton1;
        b2.onclick = calculateButton2;

        function calculateButton1() {
            b1.disabled = 'disabled';
            b2.disabled = 'disabled';
            if (b1.value == 1) {
                incorrect++;
                correctness = "Incorrect!";
            }
            else {
                correct++;
                correctness = "Correct!";
            }
            
            document.getElementById("demo").innerHTML = correctness + " Score: " + correct + " - " + incorrect;
            getNewURLs();
        }

        function calculateButton2() {
            b1.disabled = 'disabled';
            b2.disabled = 'disabled';
            if (b2.value == 1) {
                incorrect++;
                correctness = "Incorrect!";
            }
            else {
                correct++;
                correctness = "Correct!";
            }
            
            document.getElementById("demo").innerHTML = correctness + " Score: " + correct + " - " + incorrect;
            getNewURLs();                
        }

        function getNewURLs() {
            document.getElementById("page").style.opacity = 0.2;
            spinner.style.visibility = 'visible';
            fetch('/index')
                .then(res => {
                    return res.json()
                })
                .then(new_data => {
                    document.getElementById("image_1").src = new_data[0]["img_url"];
                    b1.value = new_data[0]["real"];
                    document.getElementById("image_2").src = new_data[1]["img_url"];
                    b2.value = new_data[1]["real"];
                    $(b1).removeAttr("disabled");
                    $(b2).removeAttr("disabled");
                    spinner.style.visibility = 'hidden';
                    document.getElementById("page").style.opacity = 1;
                });
        }
    </script>
    {% endif %}
</body>
</html>

